{% extends 'VemlHelloBundle::base.html.twig' %}
{% form_theme form 'VemlTorzslapBundle:Form:fields.html.twig' %}

{% block body %}
<h1>Új törzslap felvétele</h1>

<form action="{{ path('1_sz_torzslap_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Mentés</button>
        <a href="{{ path('1_sz_torzslap') }}" class="btn">
            Vissza a listához
        </a>
    </div>
</form>
{% endblock %}