_home:
    pattern:  /
    defaults: { _controller: VemlHelloBundle:Default:index }

_torzslap1:
    pattern: /torzslap1
    defaults: { _controller: VemlTorzslapBundle:Torzslap1:index }

_torzslap2:
    pattern: /torzslap2
    defaults: { _controller: VemlTorzslapBundle:Torzslap2:index }

_torzslap3:
    pattern: /torzslap3
    defaults: { _controller: VemlTorzslapBundle:Torzslap3:index }

_torzslap4:
    pattern: /torzslap4
    defaults: { _controller: VemlTorzslapBundle:Torzslap4:index }

_statisztikak:
    pattern: /statisztikak
    defaults: { _controller: VemlTorzslapBundle:Statistics:index }

_hazszamok:
    pattern: /hazszamok/{filter}
    defaults: { _controller: VemlTorzslapBundle:Hazszam:index, filter: null }

VemlTorzslapBundle:
    resource: "@VemlTorzslapBundle/Controller/"
    type:     annotation
    prefix:   /torzslap

VemlHelloBundle:
    resource: "@VemlHelloBundle/Resources/config/routing.yml"
    prefix:   /

# Internal routing configuration to handle ESI
#_internal:
#   resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#   prefix:   /_internal
