body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.records_list li {
    list-style: none;
}

.control-label {
    text-align: left !important;
    width: 200px !important;
}

.controls label {
    display: inline-block !important;
}

.bizonytalan {
    border: 1px solid #f8b9b7;
    background-color: #eed3d7;
    padding: .25em;
    margin: 0;
    vertical-align: middle;
}

.align_right,
td.align_right,
th.align_right {
    text-align: right;
}