.records_list li {
    list-style: none;
}

.control-label {
    text-align: left !important;
    width: 200px !important;
}

.controls label {
    display: inline-block !important;
}

.bizonytalan {
    border: 1px solid #f8b9b7;
    background-color: #eed3d7;
    padding: .25em;
    margin: 0;
    vertical-align: middle;
}
