{% extends 'VemlHelloBundle::base.html.twig' %}

{% block body %}
<h1>Üdvözöllek a Pápai várostörténeti helyrajzi feltárás oldalán!</h1>

<p>A fenti menüből választhatsz törzslapot.</p>
{% endblock %}